<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="MyBatisTest.findCategoryTest" type="JUnit" factoryName="JUnit" folderName="Test03" nameIsGenerated="true">
    <module name="Test03" />
    <option name="PACKAGE_NAME" value="" />
    <option name="MAIN_CLASS_NAME" value="MyBatisTest" />
    <option name="METHOD_NAME" value="findCategoryTest" />
    <option name="TEST_OBJECT" value="method" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>